%table.table#substances-datatable{'data-source': substances_path(format: :json)}
  %thead
    %tr
      %th ID
      %th Nazwa
      %th Grupy
      %th
  %tbody


:javascript
  $('#substances-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#substances-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "id"},
      {"data": "name"},
      {"data": "groups"},
      {"data": "actions",
      'className': "d-flex"}
    ],
    "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
            }
  }).on('draw.dt', function(){
    $('th').removeClass('d-flex')
  })
