%tr
  %td= medicament.id
  %td= medicament.name
  %td= link_to('Edycja', edit_medicament_path(medicament))
  %td= link_to('Usuń', medicament_path(medicament), data: { confirm: 'Czy na pewno chcesz usunąć ten lek z bazy?' }, method: :delete)