.row
  .col-10
    %h2= medicament.name
  - if current_user&.admin?
    .col-2
      = link_to 'Edycja', edit_medicament_path(medicament), class: 'btn btn-sm btn-secondary'
%ol
  - medicament.medicament_groups.each do |medicament_group|
    %li= link_to medicament_group.name, medicament_group_path(medicament_group), class: 'text-dark'